#notFound {
  color: rgb(212, 14, 14);
  padding-bottom: 20px;
  display: block;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

#notFoundP {
  font-size: 18px;
  //   text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

#emoji {
  font-size: 40px;
  width: 100%;
  padding-bottom: 20px;
}
