#containerSmall {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
    flex: 1 1 auto;
    align-content:baseline;
    text-align: center;
}