
footer {
    flex: 0 1 60px;
    border-top: 2px solid black;
    color: rgb(17, 0, 255);
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 1px 1px rgb(0, 183, 255);
    line-height: 60px;
    background-color: rgb(236, 241, 243);
  }